.Dashboard{
  padding: 5px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .GeneralOEE{
    flex: 3;
    background-color: white;
    border-radius: 10px;
    display: flex;
    .totalStatistic{
      flex: 6;
      display: flex;
      padding: 10px;
      flex-direction: column;
      .rowStatistic{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        .statisticItem{
          flex: 1;
          font-size: 25px;
          .statisticItemIcon{
            font-size: 25px;
            margin: 10px;
          }
        }
      }
    }
    .totalGaugeChart{
      background-color: rgb(238, 238, 238);
      flex: 4;
      justify-content: center;
      align-items: center;
    }
  }
  .DetailOEE{
    flex: 7;
  }
}