.Dashboard{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  flex-direction: row-reverse;
  .detailOEEHeader{
    color: white;
    font-weight: bold;
  }
  .deviceOEE{
    flex: 3;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    flex-wrap: wrap;
    .DetailOEE{
      background-color: white;
      width: 32%;
      border-radius: 5px;
      height: fit-content;
      padding-bottom: 10px; 
      margin-bottom: 10px;
      box-shadow: 0px 0px 10px 1px gray;
      .detailOEEContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        .detailOEEFirstPart{
          display: flex;
          width: 100%;
          height: 100px;
          justify-content: space-around;
          align-items: center;
          .detailOEEStatistics{
            display: flex;
            flex-wrap: wrap;
            .detailOEEProps{
              width: 33%;
              height: 50px;
            }
          }
          .detailOEEChart{
            width: 35%;
          }
        }
        .chartProps{
          width: 100%;
          height: 100px;
          padding: 0px 10px;
          p{
            text-align: left;
          }
          .barChartBackground{
            width: 100%;
            height: 5px;
            background-color: gray;
            .chartValue{
              height: 100%;
              transition: 1s;
            }
          }
        }
      }
    }
  }
  .TotalOEE{
    background-color: white;
    border-radius: 5px;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 10px 0px gray;
    width: 20%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
}