@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.Sidebar{
  position: fixed;
  width: 15%;
  background-color: #142850;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 100000;
  .sidebarHeader{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 32px;
    color: #DAE1E7;
    border-bottom: 1px solid #DAE1E7;
  }
  .sidebarGroup{
    border-bottom: 1px solid #DAE1E7;
    .active{
      background-color: #27496D;
    }
    .sidebarLink{
      display: flex;
      height: 50px;
      text-decoration: none;
      color: #DAE1E7;
      align-items: center;
      margin: 10px 0px;
      &:hover{
        background-color: #27496D;
      }
      .iconLink{
        font-size: 30px;
        width: 30%;
      }
      .titleLink{
        width: 70%;
        text-align: left;
      }
    }
  }
}
